@import 'variables';

h1 {
	font-family: 'Gochi Hand', cursive;
	color: $color-main-blue;
}

// page components
body {
	font-family: 'Nobile' Helvetica, Arial, sans-serif;
	color: $color-dark-grey; 
	font-size: 18px;
}


main {
	margin: 2em;
	padding: 0 2em;
}

// navigation styles
nav {
  overflow: hidden;
  line-height: 86px;
}
img.logo {float: left;}

.nav-links {
	float: right;
	margin-left: 10px;
}