@import 'variables';

h1 {
	font-family: 'Gochi Hand', cursive;
	color: $color-main-blue;
}

// page components
body {
	font-family: 'Nobile' Helvetica, Arial, sans-serif;
	color: $color-dark-grey; 
	font-size: 18px;
}

nav, section, footer {
	padding: 0 2em;
}