// google fonts
@import url(https://fonts.googleapis.com/css?family=Gochi+Hand|Titillium+Web:400,700,200);

// color variables
$color-main-blue: #2654bc;
$color-main-red: #ff2e51;
$color-main-green: #8fff92;

body {
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
	font-family: 'Gochi Hand', cursive;
}
